@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes blurIn {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

@keyframes rotateIn {
  from {
    opacity: 0;
    transform: rotate(-10deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}





 .dashboard {
  width: 100vw;

 }

.dashboard .card-grid {
  display: grid;
  /* grid-template-columns: repeat(3, minmax(150px, 1fr)); */
  grid-template-columns: repeat(3, 1fr); /* Always 4 columns */
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 0px;
  height: 100vh;
  
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  animation: scaleIn 1s;
 
 
}





.card.large {
  grid-column: span 2 !important;  /* Spans columns 1-2 */
  grid-row: span 2 !important;


}

.card.tall {
  grid-row: span 2;
}

.card.wide {
  grid-column: span 2
}


.card-holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;

}











