.modern-card {
    border: 1px solid rgba(0, 0, 0, 0.05);
    height: 50vh;
    width: min(100%, 400px); /* width can only ever be 400px minimum */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 12px;

    background: white;
    border: 1px solid rgba(0, 0, 0. 0.05);

    padding: 24px;
    margin: 16px 0;

    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.9)
    

}

.dashboard:active {
    transform: translateY(-1px) scale(0.98);
    transition-duration: 0.1s;
}

@keyframes pulse {
    0%, 100% { opacity: 10; }
    50% { opacity: 10; }
  }


.dashboard.loading {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }